body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(42, 90, 54);
    font-size: 15px;
}
h1{
    color: #ebf0ed;
}
.header{
      border-bottom: 1px solid #126123;
      border-left: 2px
      ;

}

.container{
    color: #f4f5f4;
    display: flex;
    justify-content: space-between;
    
}

.container ul {
    color: #1e9b56e5;
    display: flex;
    width: 600px;
    justify-content: space-evenly;
    list-style: none;
    ;
}

.header .container{
    justify-content: space-arounds;
    align-items: center;
}

.ul a{
    color: #ffffff;
    text-decoration: none;
}

.agora{
    font-weight: 600;
}

/* Banner*/

.banner{
    height: 780px;
    background-image: url("https://live.staticflickr.com/7437/11041507085_abc99fb3da_b.jpg");
    background-size:  cover;
    color: #3d8d0eb0;
}

.banner .container{
    height: 700px;
    display: flex;
    align-items: center;
}

.banner p{
    color: #ffffff; 
    margin: 0;
    padding: 0;
    font-size: 36px;
    width: 700px;
    margin-left: 350px;
}

.banner span {
    font-weight: 800;
}

/*Login*/

.banner .card{
    background-color: rgba(45, 131, 49, 0.712);
    height: 710px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;

}

.card{
    margin-top: 20px;
}

.btn{
    font-family: monospace;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    border-radius: 4px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #44800c;
    color: #f8faf5;
    cursor: pointer;
}

.ipt{
    height: 30px;
     border-radius: 4px;
}